*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

dist/
coverage/
**/local-values.yaml
.vscode/
bin/
.idea/
**.tgz
.log
.env*
*.pem
*.key
.DS_Store
.run/
*.log

pkg/discovery/main/kong_discovery_agent.yml
pkg/traceability/main/kong_traceability_agent.yml

specs/
data/
logs/

secret.yaml
overrides.yaml
configmap.yaml

**/__debug_bin*
