*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

dist/
coverage/
**/local-values.yaml
.vscode/
bin/
.idea/
**.tgz
.log
.env
*.pem
*.key
.DS_Store
.run/
*.log

apic_discovery_agent.yml
apic_traceability_agent.yml
