# Order is important; the last matching pattern takes the most precedence.
* @jcollins-axway @sbolosan @vivekschauhan @alrosca @dgghinea

#[SECURITY]
 # .security-profile.json requires SPOC approval for any modifications
.security-profile.json @dfeldick @jcollins-axway @vivekschauhan

#[CICD]
# cicd-related files
.gitlab-ci.yml @dfeldick @jcollins-axway @vivekschauhan
Makefile @dfeldick @jcollins-axway @vivekschauhan
build/scripts/ @dfeldick @jcollins-axway @vivekschauhan
.github/** @dfeldick @jcollins-axway @vivekschauhan

#[EXPERT]
pkg/** @jcollins-axway @vivekschauhan @alrosca @dgghinea
